{% extends('GalileoSimpleBetMainBundle:Tournament:view.html.twig') %}

{% block content %}
    <h2>Następne</h2>
    {{ include('GalileoSimpleBetMainBundle:Game:viewGamesTable.html.twig', {'games': next, 'showStage': true}) }}
    <h2>Poprzednie</h2>
    {{ include('GalileoSimpleBetMainBundle:Game:viewGamesTable.html.twig', {'games': previous, 'showStage': true}) }}
{% endblock %}

{% block sidebar %}
    <div class="chat">
    {{ panel('Czat:', render(controller('gsbm.controller.chat_message:viewChatMessagesAction', {'tournamentId': tournament.id})), {'skipBody': true}) }}
    </div>
{% endblock %}