{% extends('GalileoSimpleBetMainBundle::layout.html.twig') %}

{% block top %}
    <h2>{{ tournament.name }}</h2>
{% endblock %}


{% block content %}
    {% for stage in tournament.stages %}
        {{ include('GalileoSimpleBetMainBundle:TournamentStage:viewMatches.html.twig', {'type': 'table', 'stage': stage}) }}
    {% endfor %}
{% endblock %}

{% block sidebar %}
<div class="row">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">
        {% if app.user %}
            {{ render(controller("gsbm.controller.player:viewPlayerToTournamentAction", {'tournamentId': tournament.id})) }}
        {% endif %}
    </div>
</div>
{% endblock %}