{% extends('GalileoSimpleBetMainBundle::layout.html.twig') %}

{% block top %}
    <h2>{{ tournament.name }}</h2>
    {{ render(controller("gsbm.controller.player:viewPlayerToTournament", {'tournamentId': tournament.id})) }}
{% endblock %}


{% block content %}
    {% for stage in tournament.stages %}
        {{ include('GalileoSimpleBetMainBundle:TournamentStage:viewMatches.html.twig', {'type': 'table', 'stage': stage}) }}
    {% endfor %}
{% endblock %}

{% block sidabar %}
    {{ render(controller("gsbm.controller.player:viewPlayerToTournament", {'tournamentId': tournament.id})) }}
{% endblock %}