{% extends('GalileoSimpleBetMainBundle:Tournament:show.html.twig') %}

{% block sidebar %}
        <h2>Typy</h2>
        {{ render(controller('gsbm.controller.bet:viewAction', {'gameId': game.id})) }}
        {{ include('GalileoSimpleBetMainBundle:Game:betsView.html.twig', {'type': 'table', 'game': game}) }}
{% endblock %}