{% extends('GalileoSimpleBetMainBundle:Tournament:view.html.twig') %}

{% block sidebar %}
        <h2>Typy</h2>
        <p>{{ render(controller('gsbm.controller.bet:viewAction', {'gameId': game.id})) }}</p>
        {{ include('GalileoSimpleBetMainBundle:Game:betsView.html.twig', {'game': game}) }}
{% endblock %}