{% extends('GalileoSimpleBetMainBundle:TournamentStage:view.html.twig') %}

{% block sidebar %}
    <h4>Wytpuj wynik:
        {{ game.homeTeam.name }} -
        {{ game.awayTeam.name }}
    </h4>
    {{ panel('Wynik', form(form)) }}

{% endblock %}
