parameters:
    database_driver:   pdo_mysql
    database_host:     us-cdbr-east-06.cleardb.net
    database_port:     ~
    database_name:     heroku_dd7038587b21b60
    database_user:     be30586121025a
    database_password: c480f20b

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
