body{
    color: #808080;
}


.main-content
{
    margin-top: 85px;
    margin-bottom: 85px;
    padding: 0 10px 0 10px;
}


.bottom-menu {
    border-top: 2px solid #007bff;
    background: white;
}

.bottom-menu .nav-link {
    padding: 15px 10px;
}

.tournament.logo img
{
    height: 150px;
}

.chat .panel-body {
    height: 200px;
    overflow: scroll;
}
.chat .head
{
    background-color: #DDDDDD;
    color: #777777;
    text-align: center;
}


.betView table tr td,
.betView table tr th {
    text-align: center;
}

.me,
.me td,
.content .active {
    color: #FFF;
    background-color: #8af08a!important;
}

.selected {
    background-color: #fffa78;
}

.btn-info a,
.btn-danger a,
.btn-warning a,
.btn-success a
{
    color: #FFFFFF;
}


td.gameDate
{
    padding: 1px !important;
    font-size: 10px;
}

td.groupInfo
{
    padding: 1px !important;
    font-size: 10px;
}

.todayPoints {
    color: #00e300;
}
