{% extends('GalileoSimpleBetMainBundle:Tournament:view.html.twig') %}

{% block content %}
    <h4>Dystrybucja punków dla graczy</h4>
    <table class="table">
        {% for element in playerAndBetStatistics %}
            <tr>
                <td>{{ element.player.firstName }}</td>
                <td>{{ include('@GalileoSimpleBetMain/Statistics/viewBetAccuracy.html.twig', {'betStatistics': element.betStatistics}) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
