{% if app.user %}
    <div class="panel-body">
        {% for message in messages %}

            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{ message.date|date }}</span>
                    {{ message.player|display_name }}
                </li>
            </ul>
            <p>
                {{ message.message }}
            </p>
        {% endfor %}
    </div>
    {{ form(form) }}
{% endif %}