{% if app.user %}
    <div class="panel-body">
        {% for message in messages %}
            <p>
                    <span class="badge">{{ message.date|date }}</span>
                    {{ label_primary(message.player|display_name) }}
                {{ message.message }}
            </p>
        {% endfor %}
    </div>
    {{ form(form) }}
{% endif %}