{% extends('GalileoSimpleBetMainBundle::layout.html.twig') %}

{% block top %}
    <h2>{{ tournament.name }}</h2>
    <h3>{{ include('GalileoSimpleBetMainBundle:Player:_tournametPlayer.html.twig', {'tournament': tournament }) }}</h3>
{% endblock %}

{% block content %}
    {% for stage in tournament.stages %}
        {{ include('GalileoSimpleBetMainBundle:TournamentStage:viewMatches.html.twig', {'type': 'table', 'stage': stage}) }}
    {% endfor %}
{% endblock %}

{% block sidabar %}
{% endblock %}