{% extends('GalileoSimpleBetMainBundle::layout.html.twig') %}

{% block top %}
    <h2>Mistrzostswa świata 2012</h2>
{% endblock %}

{% block content %}
{% endblock %}

{% block sidabar %}
{% endblock %}