{% extends('GalileoSimpleBetMainBundle::layout.html.twig') %}

{% block top %}
    <h2>{{ tournament.name }}</h2>
{% endblock %}

{% block content %}
    {% for stage in tournament.stages %}
        {{ include('GalileoSimpleBetMainBundle:TournamentStage:viewMatches.html.twig', {'type': 'table', 'stage': stage}) }}
    {% endfor %}
{% endblock %}

{% block sidebar %}
        <h2>Typy</h2>
        {{ include('GalileoSimpleBetMainBundle:Game:betsView.html.twig', {'type': 'table', 'game': game}) }}
{% endblock %}