@CHARSET "UTF-8";

th {
	color: white;
	background-color: #2C97EF;
	padding:5px;
}

td {
	padding: 5px;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	
}

a {
	
}
a:hover {
	color: #2C97EF;
	background: white;
	text-decoration: none;
}

.form_error
{
	padding: 10px;
	background: red;
	color: white;
}

input 
{
	padding: 5px;
	color: #2C97EF;
	font-weight: bold;
}

#indicator
{
	text-align: center; 
	padding: 15px;
	background-color: #2C97EF;
}
#footer
{
	border-top: 3px solid #2C97EF;
	padding: 30px;
	margin-top: 100px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #2C97EF;
}

#footer a 
{
	color: #86C0EF;
}

#footer a:hover 
{
	color: #2C97EF;
}
#pula 
{
	background-color: #2C97EF;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	padding:5px;
}
#pula a
	{
		background: red;
		color: white;
		padding:2px 5px ;
	}
#pula a:hover
	{
		background: white;
		color: red;
	}

#pula strong
{
	margin:2px 4px;
	padding:1px;
	background-color: white;
	color: #2C97EF;
	font-style: normal;
}

span
{
	margin: 0px 10px;
	font-style: normal;
}

h1 
{
	margin: 15px;
	color: #2C97EF;
}
h1 strong
{
	background-color: #2C97EF;
	color: white;
	padding: 5px;
}

#regulamin
	{
		
		color: #2C97EF;
	}
#regulamin li
{
	margin: 10px 400px 10px 10px;
}

p 
{
	color: #2C97EF;
	padding: 10px 100px;
}