{% if game.canShowOtherBets %}
    <table class="table table-condensed table-hover">
        <tr>
            <th>Zawodnik</th>
            <th>Typ</th>
            <th>Punkty</th>
        </tr>
        {% for bet in game.bets %}
            <tr>
                <td>{{ bet.player|display_name }}</td>
                <td>{{ bet.score }}</td>
                <td><span class="label label-success">{{ bet.pointsEarned }}</span></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p class="alert alert-info">Typy pozostałych użytkowników zostaną opublikowane o {{ game.date|date }}.</p>
{% endif %}