<table class="table table-condensed">
    {% for game in games %}
        <tr {% if currentGame is defined and currentGame.equals(game) %}class="selected"{% endif %}>
            {% if showStage is defined and showStage %}
                <td>{{ game.tournamentStage.name }}</td>
            {% endif %}
            {{ include('GalileoSimpleBetMainBundle:Game:defaultGameRowView.html.twig') }}
        </tr>
    {% endfor %}
</table>